body{
	font-family: "Arial";
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	background-color:#70a48a;
	display: flex;
}

.nav-button{
	border: 0;
	border-radius: 4px;
	padding: 8px;
	background-color: #70a48a;
	margin: 0;
	cursor: pointer;
	}

.nav-button i{
	color: beige;
}

.overlay{
	width: 0%;
	height: 100%;
	background-color: rgba(116, 171, 151, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	overflow-x: hidden;
	transition: all 0.5s;
}

.overlay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a{
	padding: 8px;
	text-decoration: none;
	color: #324e40;
	font-size: 20px;
	transition: 0.3s;
	display: block;
}

.overlay a:hover, .closeBtn:hover, .closeBtn:focus{
	color: #c9e7d8;
}

.overlay .closeBtn{
	font-size: 30px;
	position: absolute;
}

.container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.logo{
	width: 180px;
}

section h2{
	font-size: 42px;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: 10px;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

/*---------------------------*/
#titulo2{
	margin-top: 5%;
	margin-left: 15%;
}

hr{
	width: 70%;
}

/*----------------------*/
.form-content{
	display: flex;
	justify-content: center;
	padding-top: 40px;
}


#forms{
	text-align: center;
	padding: 10px 0 30px 0;
	margin: 0 0 40px 0;
}
form{
	font-size: 20px;	
}

label{
	color: #324e40;
	font-weight: 700;
}

.campo{
	margin-bottom:2em;
	width:80%;
	border: 1px solid #ccc;
	padding: .7em;
}



#mensagens-erro{
	color: rgb(160, 0, 0);
}

.erro{
	background-color: #ff9a5b;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

.invisivel{
	display: none;
}

#filtrar_tabela{
	width: 70%;
	height: 35px;
	margin-bottom: 30px;
}

.botao{
	border-radius: 4px;
	height: 50px;
	width: 150px;
	margin-top: 20px;
	background-color: #70a48a;
	font-size: 16px;
	border-color: transparent;
}


.danca {
	animation: danca 0.1s ease-in-out infinite;
	
  }
  
  @keyframes danca {
	0% {
	  transform: rotate(0deg);
	}
	25% {
	  transform: rotate(10deg);
	}
	50% {
	  transform: rotate(0deg);
	}
	75% {
	  transform: rotate(-10deg);
	}
	100% {
	  transform: rotate(0deg);
	}
  }


